## while 반복문

### [실습문제] 열 번 찍어 나무 넘기기

In [2]:
treehit = 0

while treehit < 10:
    treehit += 1   # treehit = treehit + 1
    print(f'나무를 {treehit}번 찍었습니다')
    
print('나무 넘어 갑니다~')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어 갑니다~

In [3]:
treehit = 0

while True:
    treehit += 1
    print(f'나무를 {treehit}번 찍었습니다')
    
    if treehit==10:        
        break
        
print('나무 넘어 갑니다~')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어 갑니다~

#### 무한반복 빠져나가기

In [8]:
menu = '''
    1.사이다   2.콜라   3.주스   4.종료
    (1~4) 번호를 선택하세요: '''

button = 0
while button != '4'   :
    button = input(menu)
    print(f'[{button}]번이 선택되었습니다.')

# while True:
#     button = input(menu)
#     print(f'[{button}]번이 선택되었습니다.')
#     if button == '4':
#         break

print('프로그램이 종료되었습니다.')

    1.사이다   2.콜라   3.주스   4.종료
    (1~4) 번호를 선택하세요: 1
[1]번이 선택되었습니다.

    1.사이다   2.콜라   3.주스   4.종료
    (1~4) 번호를 선택하세요: 4
[4]번이 선택되었습니다.
프로그램이 종료되었습니다.

### [실습문제]  공이 튕긴 횟수 세기

In [12]:
length = int(input('공의 높이를 입력하세요(m): '))

cnt = 0
meter = length
while True:
    cnt += 1
    meter = meter / 2
    if meter < 0.00001:
        break

print(f'{length}(m) 위치에서 공의 튕귄 횟수는 총 {cnt}번 입니다.')

공의 높이를 입력하세요(m): 1000
1000(m) 위치에서 공의 튕귄 횟수는 총 27번 입니다.

### [실습문제] 커피 자동주문 머신 기능 업그레이드 하기
- **추가기능**:  돈이 모두 지불될때까지 반복해서 돈을 입력받기

In [16]:
def coffeemachine():
    menu = '''[커피 자동주문 머신 메뉴]
    -----------------------------
    - 아메리카노 2500원
    - 카페라테   3000원
    - 카푸치노   3000원
    입니다. 원하시는 커피종류와 잔수를 입력하세요.
    -----------------------------\n'''

    coffee1 = int(input(menu+"아메리카노 몇잔?: "))
    coffee2 = int(input('카페라떼 몇잔?: '))
    coffee3 = int(input('카푸치노 몇잔?: '))

    totalprice = coffee1*2500 + coffee2*3000 + coffee3*3000
    print(f'지불할 총 금액은 {totalprice} 입니다.')
    print('-----------------------------')

    while True:
        money = int(input(f'[지불할 금액:{totalprice}] 돈을 넣어 주세요.: '))

        change = money - totalprice

        if change < 0:
            print(f'돈이 부족합니다. {change*-1} 원을 더 넣어주세요.')
            totalprice = totalprice - money
        else:
            print(f'거스름돈은 {change} 원 입니다.')
            break

        print('-----------------------------')

    print('커피 맛있게 드세요~~~')
    
# 함수 호출하기
coffeemachine()

[커피 자동주문 머신 메뉴]
-----------------------------
- 아메리카노 2500원
- 카페라테   3000원
- 카푸치노   3000원
입니다. 원하시는 커피종류와 잔수를 입력하세요.
-----------------------------
아메리카노 몇잔?: 1
카페라떼 몇잔?: 1
카푸치노 몇잔?: 1
지불할 총 금액은 8500 입니다.
-----------------------------
-----------------------------
[지불할 금액:8500] 돈을 넣어 주세요.: 3000
돈이 부족합니다. 5500 원을 더 넣어주세요.
-----------------------------
[지불할 금액:5500] 돈을 넣어 주세요.: 10000
거스름돈은 4500 원 입니다.
커피 맛있게 드세요~~~

-----------------------

# 파일 입출력

### TXT 파일에 쓰기

In [22]:
f = open("C:/python/projectmanager/test.txt", 'w')

for i in range(1, 11):
    f.write(f'{i} 번째 줄입니다.\n')
    
f.close()

### TXT 파일 읽어오기

In [23]:
f = open("C:/python/projectmanager/test.txt", 'r')

while True:
    line =  f.read()
    print(line)
    if not line:
        break
    
f.close()

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

In [26]:
import pandas as pd

df = pd.read_csv('data/colors.csv')
df

       air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2         alabama_crimson        Alabama Crimson  #a32638  163   38   56
3              alice_blue             Alice Blue  #f0f8ff  240  248  255
4        alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
..                    ...                    ...      ...  ...  ...  ...
859         yellow_orange          Yellow Orange  #ffae42  255  174   66
860        yellow_process       Yellow (Process)  #ffef00  255  239    0
861            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
862                zaffre                 Zaffre  #0014a8    0   20  168
863     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[864 rows x 6 columns]